body {
    background-color: black;
}

.title {
    background-color: black;
    margin-left: 20%;
}

.main {
    background-color: black;
    color: aquamarine;
}

.charactercard {
    background-color: black;
    color: aquamarine;
}

.buttons {
    display: flex;
    gap: 4%;
}

.btn-class-name {
    --color: 180,255, 100;
    border-radius: .5em;
    background-color: rgba aquamarine , .2;
    color: rgb aquamarine;
    fill: rgb aquamarine;
    font-family: monospace;
    font-weight: bolder;
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: 2px solid rgb aquamarine;
    box-shadow: 0 0 10px rgb aquamarine , .4;
    outline: none;
    display: flex;
    align-items: center;
    padding: .5em 1em;
}

.btn-class-name:hover {
    box-shadow: 0 0 0 5px aquamarine, .5
}

.btn-class-name span {
    transform: scale(.8);
}

.btn-class-name:hover span {
    transform: scale(1);
}

.btn-class-name svg {
    font-size: 0;
    transform: scale(0.5) translateX(0%) rotate(-180deg);
}

.btn-class-name:hover svg {
    font-size: 20px;
    transform: scale(1) translateX(20%) rotate(0deg);
}
.btn-class-name:active {
    transition: 0s;
    box-shadow: 0 0 0 5px aquamarine;
}